$accentColor: #C52233;
$normalFont: 2rem;

// * {
//     border: 1px solid blue;
// }

body {
    font-family: 'Quicksand', sans-serif;
    border: 0;
    padding: 0;
    font-size: $normalFont;
}

header {
    text-align: center;
    background-color: $accentColor;
    margin: 0;
    padding: 1em;

    h1 {
        color: #fff;

        .styled-logo-font {
            font-weight: Bold;
       }
    }

    li a {
        font-size: 1.25rem;
    }
}

.info {
    max-width: 75%;
    margin: 1em;
}

.main-container {
    padding: 1em;
    margin: 2em auto;
    width: 90%;
}


/**********Exercises Section ***********/
.exercises {
    font-size: 1.5rem;

    .reset-timer {
        background-color: green;
    }

    .delete-item {
        background-color: red;
    }
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#delete-btn {
    background-color: #910614;
}

#reset-btn {
    background-color: rgb(15, 75, 15)
}


/**********Exercise Form **************/

#time-input {
    display: none;
}

// .show-time-input {
//     display: block;
// }
