html {
  scroll-behavior: smooth; }

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 2rem; }

header {
  text-align: center;
  background-color: #C52233;
  margin: 0;
  padding: 1em; }
  header h1 {
    color: #fff; }
    header h1 .styled-logo-font {
      font-weight: Bold; }
  header li a {
    font-size: 1.25rem; }

.info p:last-child {
  font-size: 1.2rem;
  line-height: 1.5; }

.info {
  padding: 0;
  margin: 1em; }

.main-container {
  padding: 1em;
  margin: 2em auto;
  width: 90%; }

#mobile-demo a {
  font-size: 1.5rem;
  margin-top: 1.5em; }

label {
  color: #C52233;
  font-size: 1.25rem; }

/**********Exercises Section ***********/
.exercises {
  font-size: 1.5rem; }
  .exercises .reset-timer {
    background-color: green; }
  .exercises .delete-item {
    background-color: red; }

.collapsible-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; }
  .collapsible-header > * {
    margin: .5em 0; }
  .collapsible-header label {
    width: fit-content;
    margin: 1em 0; }

.collapsible-body img {
  max-width: 200px;
  max-height: 300px; }

#delete-btn {
  background-color: red;
  margin: 2em 0;
  margin-left: 1em; }

#reset-btn {
  background-color: green;
  margin: 2em 0; }

#timer-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #timer-container #pause-timer {
    background-color: yellow;
    color: #000;
    width: 150px;
    margin-bottom: 2em; }
  #timer-container #stop-timer {
    background-color: red;
    width: 150px; }

#stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  border: 10px solid grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #4c4cb3;
  color: #ffff; }

/**********Exercise Form **************/
#time-input {
  display: none; }

/************Exercise Search ***********/
.exercises-search p {
  max-width: 100%;
  color: #910614; }

#exercise-search-container {
  display: flex;
  flex-wrap: wrap; }
  #exercise-search-container .exercise-search-item {
    background-color: pink;
    width: 250px;
    margin: .5em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; }
    #exercise-search-container .exercise-search-item img {
      max-width: 100%;
      max-height: 250px; }

/************Modal ***********/
#modal1 {
  padding: .5em;
  max-width: 450px; }
  #modal1 .modal-title {
    font-size: 1.5rem; }
  #modal1 #pt-date {
    color: #C52233;
    font-size: 1.25rem;
    font-weight: bold; }
  #modal1 #appt-form {
    display: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: .5em;
    width: 200px;
    margin-left: 1em; }
    #modal1 #appt-form .form-group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between; }
      #modal1 #appt-form .form-group input {
        max-width: 100%;
        margin-bottom: 1em; }

/************Footer ***********/
.page-footer {
  max-width: 100%; }

.footer-info {
  font-size: 1.2rem;
  line-height: 1.5; }

.contact-method {
  font-size: 1.5rem;
  font-weight: bold;
  color: teal;
  max-width: 100%;
  min-width: fit-content;
  display: block;
  background-color: #fff;
  padding: .5em;
  margin: .25em;
  margin-left: 0;
  margin-bottom: 1em;
  width: fit-content;
  border-radius: 2em; }

.footer-copyright {
  text-align: center;
  font-size: 1rem; }

@media screen and (min-width: 900px) {
  .collapsible-header {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 400px 200px 150px 50px; } }
