body {
  font-family: 'Quicksand', sans-serif;
  border: 0;
  padding: 0;
  font-size: 2rem; }

header {
  text-align: center;
  background-color: #C52233;
  margin: 0;
  padding: 1em; }
  header h1 {
    color: #fff; }
    header h1 .styled-logo-font {
      font-weight: Bold; }
  header li a {
    font-size: 1.25rem; }

.info {
  max-width: 75%;
  margin: 1em; }

.main-container {
  padding: 1em;
  margin: 2em auto;
  width: 90%; }

/**********Exercises Section ***********/
.exercises {
  font-size: 1.5rem; }
  .exercises .reset-timer {
    background-color: green; }
  .exercises .delete-item {
    background-color: red; }

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

#delete-btn {
  background-color: #910614; }

#reset-btn {
  background-color: green; }

/**********Exercise Form **************/
#time-input {
  display: none; }
